#history{
	float: right;
	margin-top: 50px;
	max-width:300px;
	overflow: auto;
	text-align: left;

	h3{ text-align: center; }

	ul{
		color: $text-color;
		list-style: none;

		li{
			margin-bottom: 5px;

			&:hover{
				font-size:1.2em;
				color: $blue;
			}
		}
	}

	#options{
		float:right;

		.fa-eraser{
			margin-left: 7px;
			font-size:1.3em;
			margin-right:15px;

			&:hover{
				background-color: $blue;
			}
		}
	}
}