nav{
	height: 50px;
	display:flex;
	align-items: center;
	justify-content: end;
	padding: 10px 10px 0 0;

	#options{
		position: fixed;
	}

	a{
		text-decoration: none;
		color: $blue;
	}

	.fa{
		font-size: 1.2em;
		padding-right: 10px;

		&:hover{
			color: $blue;
			font-size:1.4em;
		}
	}
}