/*scss --watch scss/main.scss:style.css*/
@import 'colors';

body{
	.flex-container{
		display: flex;
		justify-content:center;
	}
}

@import 'nav';
@import 'calc';
@import 'history';

#error{
	p{
		text-align: center;
		background-color: red;
		padding: 10px 0;
		color: white;
	}
}

