/*scss --watch scss/main.scss:style.css*/
@import 'colors';

body{
	.flex-container{
		display: flex;
		justify-content:center;
	}

	h2{
		text-align: center;
		margin-bottom: 30px;
	}
}

@import 'nav';
@import 'calc';
@import 'history';

